<h2>Login</h2>

<form method="post">
    <input type="text" name="username" placeholder="Usuario" required />
    <input type="password" name="password" placeholder="Contraseña" required />
    <button type="submit">Entrar</button>
</form>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}