<h1>Bienvenido al sistema</h1>

<p>Panel principal</p>

<<a asp-controller="Producto" asp-action="Index">
    Ir a Productos
</a>

<a href="/Producto" style="padding:10px; background-color:blue; color:white; text-decoration:none;">
    Ir a Productos
</a>