
@{
    ViewData["Title"] = "Index";
}


    <thead>
        <tr>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>

    </div>

</div>